<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link href="/stylesheets/style.css" rel="stylesheet" />
    <title>Create Pokemon</title>
  </head>
  <body>
    <form action="/createPokemon" method="POST">
      <label for="name">Pokemon Name: </label>
      <label for="type">Pokemon Type: </label>
    </form>
  </body>
</html>
