<footer>
  <div class="absolute bottom-0 left-0 right-0 shadow">
    <div
      class="max-w-7xl mx-auto text-sm px-4 h-16 flex items-center justify-center"
    >
      <p class="text-center">
        &copy; <%= new Date().getFullYear() %> John Lester Escarlan. All rights
        reserved.
      </p>
    </div>
  </div>
</footer>
