<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <% if (locals.pokemons) {%> <% pokemons.forEach(pokemon => {%>
    <p>
      <%= pokemon.pokemon_name %> | <%= pokemon.type1 %> || <%= pokemon.type2 %>
    </p>
    <%})%> <%}%>
  </body>
</html>
